{% macro title__h1(value) %}
    <h1>{{ value }}</h1>
{% endmacro %}

{% macro title__h2(value) %}
    <h2>{{ value }}</h2>
{% endmacro %}

{% macro title__h3(value) %}
    <h3>{{ value }}</h3>
{% endmacro %}

{% macro title__h4(value) %}
    <h4>{{ value }}</h4>
{% endmacro %}