footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #505050;
    color: white;
    padding: 0 20px;

    h2 {
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    a {
        font-size: 11px;
        color: white;
    }

    p {
        font-size: 9px;
        margin-top: 40px;
    }
}